<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Sign Up Success</title>
  </head>
  <body>
    <table style="width: 600px; overflow: hidden; margin: auto">
      <tbody style="width: 100%">
        <tr>
          <td
            style="
              height: 130px;
              padding: 18px;
              box-sizing: border-box;
            "
          ></td>
        </tr>

        <tr style="height: 80px; background-color: #685f5f">
          <td style="height: 100%; width: 100%">
            <div
              style="width: 100%; display: block; text-align: center"
            >
              <div
                class="header-message"
                style="
                  margin: auto;
                  display: inline-block;
                  vertical-align: middle;
                "
              >
                <div
                  class="logo"
                  style="
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    vertical-align: middle;
                  "
                >
                  <!-- <img
                    src=""
                    alt=""
                    style="width: 25px; height: 25px"
                  /> -->
                </div>
                <div
                  class="message"
                  style="
                    font-size: 18px;
                    color: white;
                    letter-spacing: 0px;
                    display: inline-block;
                    vertical-align: middle;
                  "
                >
                  <p>Succes de votre inscription sur la plateforme E-kaly</p>
                </div>
              </div>
            </div>
          </td>
        </tr>

        <tr class="main">
          <td style="background-color: white; padding: 30px">
            <div style="background-color: white; padding: 15px">
              <p style="margin-bottom: 20px">
                Bonjour <%= user.firstName %> <%= user.lastName %>  ,
              </p>
              <p>
                Votre inscription sur E-kaly est reussie!
              </p>
              <p>
                A présent, vous pouvez commander des plats dans divers Restaurants sur E-kaly.
              </p>
              <p style="margin-bottom: 20px">
                Merci pour votre confiance.
              </p>

              <p style="margin-bottom: 30px">À très vite sur E-kaly!</p>

              <div></div>
            </div>
          </td>
        </tr>

        <tr>
          <td
            style="
              text-align: center;
              height: 100px;
              box-sizing: border-box;
            "
          ></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
