<app-header></app-header>
<div style="padding-left:18%; padding-top:3%; padding-right:10%">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  

    <ng-container matColumnDef="Plat">
      <th mat-header-cell *matHeaderCellDef>Plat</th>
      <td mat-cell *matCellDef="let detail"> {{detail.dish.name}} </td>
    </ng-container>

    <ng-container matColumnDef="Restaurant">
      <th mat-header-cell *matHeaderCellDef> Restaurant </th>
      <td mat-cell *matCellDef="let detail"> {{detail.dish.resto.user.firstName}} </td>
    </ng-container>
  

    <ng-container matColumnDef="Quantite">
      <th mat-header-cell *matHeaderCellDef> Quantite </th>
      <td mat-cell *matCellDef="let detail"> {{detail.qty}} </td>
    </ng-container>
  

    <ng-container matColumnDef="Prix">
      <th mat-header-cell *matHeaderCellDef> Prix </th>
      <td mat-cell *matCellDef="let detail"> {{detail.totalPriceRow}} Ar </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="carte">
        Votre Contact: <input class="input" matInput [(ngModel)]="client_contact" [ngModelOptions]="{standalone: true}">
        Lieu de livraison: <input class="input" matInput [(ngModel)]="delivery_place" [ngModelOptions]="{standalone: true}">
    <div class="prixTotal">
        <span>Prix tolal: {{prixTotalCommande}} AR</span>
    </div>
    <div class="text-center valider">
        <button (click) = "commander()" type="submit" class="btn btn-primary btn-block">Confimer la commande</button>
    </div>
</div>

</div>